<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./static/css/style.css">
  <title>SELAMAT 15 TH KEII</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>HAIII NAKEITHAAA</h1>
    </div>
    <div class="header__text2">
      <p>Ini hadiah ultah buat kamuu, keren ga, keren ga, keren lah masa engga</p>
      <a>btw aku buat ini hampir 2 bulan dari mikir ide sampe jadi kayak begini</a>
    </div>
  </header>
  <main>
    <h2 class="main__title">Bukanya dari pojok kiri sampe ke pojok kanan.</h2>
    <h2 class="bambang">NB: yang ke 2 ada suaranya</h2>
    <ul class="list">
      <li class="list__item">
        <a href="/1">
          <img class="item__img" src="https://i.pinimg.com/736x/1b/e5/13/1be513a197c6d4a8594adac3e8affa76.jpg" alt="home">
          <span>Greating Card</span>
        </a>
      </li>
      <li class="list__item">
        <a href="/2">
          <img class="item__img" src="https://i.pinimg.com/736x/d1/87/f9/d187f9f90fc845163fc8f6a94d844390.jpg" alt="home">
          <span>B'day Cake To Nakei</span>
        </a>
      </li>
      <li class="list__item">
        <a href="https://love.tsonit.com/schr283db-300372603">
          <img class="item__img" src="" alt="home">
          <span>Last, rada alay(alay bngt deng)</span>
        </a>
      </li>
    </ul>
  </main>
  <footer>
  </footer>
</body>
</html>
